.container {
    background-color: var(--white);
    color: #000;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
}
.current {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}
.temperatures {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.temperatures p {
    font-weight: 400;
}
.temperatures span {
    font-weight: 900;
}